/* grouping selector */
h1,
h2 {
  color: forestgreen;
}

/* descedent selector */
div.link-dev-1 a {
  color: red;
}
div.link-dev-2 a {
  color: darkseagreen;
}

/* attribute selector */
input[type="text"] {
  color: blue;
}
